alabaster==0.7.10
altair==1.2.1
anaconda-clean==1.0
anaconda-client==1.6.3
anaconda-navigator==1.7.0
anaconda-project==0.8.1
AnyQt==0.0.8
appdirs==1.4.3
argcomplete==1.9.2
asn1crypto==0.23.0
astroid==1.5.3
astropy==2.0.2
attrs==17.2.0
Automat==0.6.0
Babel==2.5.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
blaze==0.10.1
bleach==2.1.1
bokeh==0.12.13
boto==2.48.0
Bottleneck==1.2.1
branca==0.2.0
brewer2mpl==1.4.1
carto==1.2.2
cartoframes==0.5.6
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
chest==0.2.3
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.3.9
conda==4.5.0
conda-build==2.1.5
configobj==5.0.6
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
Cython==0.27.1
cytoolz==0.8.2
dask==0.15.4
datashader==0.3.0
datashape==0.5.4
decorator==4.1.2
descartes==1.1.0
dill==0.2.7.1
distributed==1.19.2
docutils==0.14
dynd==0.7.3.dev1
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
feather-format==0.4.0
filelock==2.0.12
findspark==1.1.0
Fiona==1.7.9.post1
flake8==2.5.1
Flask==0.12.2
Flask-Cors==3.0.3
folium==0.5.0
future==0.15.2
fuzzywuzzy==0.15.1
GDAL==2.1.0
geopandas==0.3.0
geopy==1.11.0
gevent==1.2.1
ggplot==0.11.2
glue-core==0.10.4
glue-vispy-viewers==0.7.2
glueviz==0.10.4
greenlet==0.4.12
h5py==2.7.0
HeapDict==1.0.0
holoviews==1.8.1
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
incremental==16.10.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.11.0
Jinja2==2.9.6
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.1.0
jupyter-core==4.4.0
jupyter-sphinx==0.1.2
jupyterlab==0.31.4
jupyterlab-launcher==0.10.2
keyring==9.3.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.18.0
locket==0.2.0
lxml==3.7.3
MarkupSafe==1.0
matplotlib==2.2.0
mccabe==0.6.1
mistune==0.7.4
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.9
munch==2.2.0
navigator-updater==0.1.0
nb-anacondacloud==1.2.0
nb-conda==2.0.0
nb-conda-kernels==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
nbpresent==3.0.2
networkx==1.11
nltk==3.2.3
nose==1.3.7
notebook==5.4.0
numba==0.33.0
numexpr==2.6.2
numpy==1.13.3
numpydoc==0.7.0
oauthlib==2.0.2
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
Orange3==3.4.1
osmnx==0.6
packaging==16.8
pandas==0.21.0
pandas-profiling==1.4.0
pandocfilters==1.4.2
param==1.5.1
parsel==1.1.0
parso==0.1.0
partd==0.3.8
pathlib2==2.2.1
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.0.0
pipenv==11.8.0
pkginfo==1.3.2
ply==3.10
pockets==0.5.1
prompt-toolkit==1.0.14
psutil==5.3.1
psycopg2==2.7.3.1
ptyprocess==0.5.1
py==1.4.34
pyarrow==0.7.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
pydotplus==2.0.2
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.7.4
pymongo==3.4.0
pyocr==0.5
pyodbc==4.0.16
PyOpenGL==3.1.1a1
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyproj==1.9.5.1
pyqtgraph==0.10.0
pyrestcli==0.6.5
PySAL==1.14.2
pytesseract==0.2.0
pytest==3.2.3
python-dateutil==2.6.1
python-Levenshtein==0.12.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
queuelib==1.4.2
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
rope==0.10.7
rope-py3k==0.9.4.post1
rpy2==2.9.0
Rtree==0.8.3
ruamel.yaml==0.15.34
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.3.3
scrapyd==1.2.0
seaborn==0.7.1
Send2Trash==1.4.2
service-identity==16.0.0
Shapely==1.6.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
spyder==3.2.3
SQLAlchemy==1.1.9
statsmodels==0.8.0
sympy==1.0
tables==3.3.0
tblib==1.3.2
terminado==0.8.1
testpath==0.3.1
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.8
traitlets==4.3.2
tweepy==3.5.0
Twisted==17.1.0
twitter==1.17.1
typing==3.6.2
unicodecsv==0.14.1
urllib3==1.22
vega==0.4.4
vincent==0.4.4
virtualenv==15.1.0
virtualenv-clone==0.3.0
w3lib==1.17.0
Wand==0.4.4
wcwidth==0.1.7
webcolors==1.8.1
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.1.4
wrapt==1.10.11
xarray==0.9.6
xlrd==1.0.0
XlsxWriter==0.9.6
xlwt==1.2.0
zict==0.1.3
zope.interface==4.4.1
